@using System.Net
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@using SearchEngine.Models
@using SearchEngine.Controllers

@model List<SearchEngine.Models.Page>

@{
	ViewData["Title"] = "Google";
	int pageNumber = 1;
}


<div id="main">
	<div id="lb"></div>
	<div id="easter-egg">
		

		<input name="ct" type="hidden" value="google-in-1998">
		<table width="100%">
			<tbody>
				<tr>
					<td valign="top">
						<a class="nj" href="./">
							<img src="~/Images/google.jpg" alt="Google in 1998"
								 height="78" data-atf="0">
						</a>
					</td>
					<td width="5">&nbsp;</td>
					<td align="left">
						<font>
							<br>
							@using (Html.BeginForm("Search", "Search"))
							{
								//TODO: pass the search string through a call
								<input maxlength="256" name="searchString" size="31" type="text"
									   value="">
								<select name="num">
									<option selected="" value="10">10 results</option>
								</select>
								<nobr>
									&nbsp;
									<input name="sa" type="submit" value="Google Search">&nbsp;

								</nobr>
							}
						</font>
					</td>
				</tr>
			</tbody>
		</table>


		<hr size="1">
		<center>
			<font color="#6F6F6F" size="1">
				Showing results <b>@(((pageNumber-1) * 10) + 1)-@(pageNumber*10)</b> of approximately <b>@(Model.Count)</b> for <b>google</b>.
			</font>
		</center>


		@foreach (var page in Model.Skip((pageNumber-1)*10).Take(10))
		{
			<p>

				<a asp-controller="Page" asp-action="Index" asp-route-url="@(page.Url)" class="nj">@(page.Site.Name)</a>
				<font size="1">
					<br>...refining searches in <b>Google</b>: Detailed Searching Instructions Teaching...
					<br>...University of California, Berkeley <b>Google</b> is a fairly new Web searching...
					<br>
					<font color="green">
						www.lib.berkeley.edu/TeachingLib/Guides/Internet/Google.html -&nbsp;
						<a class="nj" target="_blank" href="http://www.lib.berkeley.edu/TeachingLib/Guides/Internet/Google.html">Cached: 12k</a> -&nbsp;
						<a class="nj" target="_blank" href="/search/?num=10&amp;q=related:www.lib.berkeley.edu/TeachingLib/Guides/Internet/Google.html">GoogleScout</a>
					</font>
				</font>
			</p>
		}


		<center>
			<div class="nav">
				<table width="10%">
					<tbody>
						<tr align="center" valign="top">
							<td valign="bottom"><font size="1">Result&nbsp;Page:&nbsp;</font></td>
							<td><img src="~/Images/nav_first.gif" width="18" height="26" alt="" data-atf="0"></td>
							@for (int i = 0; i < (Model.Count/10+1) && i < 10; i++)
							{
								<td>
									<img src="~/Images/nav_page.gif" width="16" height="26" alt="" data-atf="0"><br><font color="#A90A08"><span class="nav">@i</span></font>
								</td>
							}
							<td>
								<a class="nj" href="javascript:;">
									<img src="~/Images/nav_next.gif" width="100" height="26" alt="" data-atf="0"><br>
									<span class="nav">
										<font  color="green">Next&nbsp;page</font>
									</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</center>
		<br>


		<center>
			<font size="1">
				Copyright ©1998 Google Inc. -&nbsp;<a class="nj" href="javascript:void(0)">About</a> -&nbsp;<a class="nj" href="javascript:void(0)">Help</a>
			</font>
		</center>
	</div>
</div>


							